<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Netflix</title>
</head>
<body>
    <nav>
        <p>
            NETFLIX
        </p>
    </nav>
    <div class="main">
        <p class="title">
            ¿Quién está viendo ahora?
        </p>
        <div class="users">
            <div class="card">
                <img src="../assets/one.png" alt="">
                <p>
                    Flavio
                </p>
            </div>
            <div class="card">
                <img src="../assets/two.png" alt="">
                <p>
                    Cesar
                </p>
            </div>
            <div class="card">
                <img src="../assets/three.png" alt="">
                <p>
                    Morales
                </p>
            </div>
            <div class="card">
                <img src="../assets/add.png" alt="">
                <p>
                    Agregar perfil
                </p>
            </div>
        </div>
        <button>
            Adminstrar perfiles
        </button>
    </div>
</body>
</html>